<h1 class= "header">Artists</h1>

<div class = "container-fluid">
	<div class= "rows">
		<% @artists.each do |artist| %>
				<% if artist.photo.empty? %>
					<div class= "col-md-4">
						<%= image_tag "no_image.png", :class=>"img-rounded", :alt=>"No photo", :size=>"450x350" %>
						</br><%= link_to artist.artist_name, artist, :class=>"artistphoto" %>
					</div>
				<% else %>
					<div class= "col-md-4">
						<%= image_tag artist.photo, :class=>"img-rounded", :alt=>"No photo", :size=>"450x350"%>
						</br><%= link_to artist.artist_name, artist, :class=>"artistphoto" %>
					</div>
				<% end %>
			
		<% end %>
	</div>
</div>
<%= link_to 'New Artist', new_artist_path %>
