<p id="notice"><%= notice %></p>

<p class= "heading">
  <strong><u><%= @artist.artist_name %></u></strong>
</p>

<p class= "heading">
  <strong>Latest single</strong> </br>
  
  </br>
  <%= sanitize @artist.latest_single, :tags=>['iframe']%>
</p>

<p class= "heading">
	</br>
  <%= image_tag @artist.photo, :alt=>"No photo", :size=>"450x350" %>
</p>

<p class= "heading">
  <strong>Genre:</strong>
  <%= @artist.genre %>
</p>

<p class= "heading">
  <strong>Minimum donation:</strong>
  &euro;<%= @artist.minimum_donation %>
</p>
	<%= form_for([@artist, Voteartist.new]) do |f|%>
	<% if @voteartist.errors.any? %>
		<div id="error_explanation">
		<h2><%= pluralize(@voteartist.errors.count, "error") %> prohibited this vote from being saved:</h2>

		<ul>
		<% @voteartist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
		<% end %>
		</ul>
		</div>
	<% end %>
		<%= f.label "Amount" %>
		<%= f.select :amount_paid, ((0..500).map {|i| [i,i]} << ["No limit, nil"])%>
		
		<%= f.label "Country"%>
		<%= f.collection_select :country_id, Country.all, :id, :country_name%>
		<div class="actions">
			<%= f.submit "Donate"%>
		</div>
	<% end %>
<p>
	
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>