<%= form_for(@user, :class=>'form-horizontal') do |f| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

			<ul>
				<% @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= f.label :first_name %><br>
		<%= f.text_field :first_name, :class=>"form-control", :required=>true %>
	</div>
	<div class="form-group">
		<%= f.label :last_name %><br>
		<%= f.text_field :last_name, :class=>"form-control", :required=>true%>
	</div>
	<div class="form-group">
		<%= f.label :dob %><br>
		<%= f.date_field :dob, {:include_blank => false, :start_year => 1930, :end_year => Time.now.year - 18, :class=>'form-control'} %> 
	</div>
	<div class="form-group">
		<%= f.label :user_name %><br>
		<%= f.text_field :user_name, :class=>"form-control", :required=>true %>
	</div>
	<div class="form-group">
		<%= f.label :email %><br>
		<%= f.text_field :email, :class=>"form-control", :required=>true %>
	</div>
	<div class="form-group">
		<%= f.label :password %><br>
		<%= f.password_field :password, :class=>"form-control", :required=>true %>
	</div>
	<div class="form-group">
		<%= f.label :confirm_password %><br>
		<%= f.password_field :password_confirmation, :class=>"form-control", :required=>true %><br>
	</div>
	<div class="form-group">
		<%= f.label :photo %><br>
		<%= f.text_field :photo, :class=>"form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :balance %><br>
		<%= f.text_field :balance, :class=>"form-control", :required=>true %>
	</div>
	<div class="form-group">
		<%= f.label :address %><br>
		<%= f.text_field :address, :class=>"form-control"%>
	</div>
	<div class="actions">
		<%= f.submit "Register", :class=>"btn btn-default"%>
	</div>
<% end %>