<h1>Listing voteartists</h1>

<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>User</th>
      <th>Integer</th>
      <th>Country</th>
      <th>Amount paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @voteartists.each do |voteartist| %>
      <tr>
        <td><%= voteartist.artist_name %></td>
        <td><%= voteartist.user_name %></td>
        <td><%= voteartist.country_id %></td>
        <td><%= voteartist.amount_paid %></td>
        <td><%= link_to 'Show', voteartist %></td>
        <td><%= link_to 'Edit', edit_voteartist_path(voteartist) %></td>
        <td><%= link_to 'Destroy', voteartist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Vote Artists', new_voteartist_path %>
