<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @voteartist.artist_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @voteartist.integer %>
</p>

<p>
  <strong>Country:</strong>
  <%= @voteartist.country_id %>
</p>

<p>
  <strong>Amount paid:</strong>
  <%= @voteartist.amount_paid %>
  
</p>

<%= link_to 'Edit', edit_voteartist_path(@voteartist) %> |
<%= link_to 'Back', voteartists_path %>
